@font-face {
    font-family: 'BlueBerry';
    src: url(../AsbunQ/assets/font/fontfamily.woff);
}
body {
    font-family: 'BlueBerry';
    background-position: 0px 0px, 52px 52px;
    background-size: 104px 104px;
    background-color: #393758;
    display: grid;
    justify-content: center;
}
.container {
    background-color: none;
    display: grid;
    background-image: url(../AsbunQ/assets/vendor/vendor2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 700px;
    height: 530px;  
}
.container p {
    background-color: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    font-size: 4.5rem;
}
.container h2 {
    margin-top: -190px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace  ;
    background-color: none;
    display: block;
    font-size: 1.6rem;
}
.container button {
    margin-top: -300px;
    background-image: url(../AsbunQ/assets/vendor/vendor5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-style: none;
    color: #4c155a;
    width: 250px;
    height: 140px;
    font-size: 2.6rem;
    font-family: 'BlueBerry';
}
.container button:hover {
    scale: 110%;
    animation: normal;
    animation-duration: 0.5s;
}
